*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  background: #434343;
}
.container{
  max-width: 900px;
  margin-inline: auto;
  
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 20px;
  color: white;
  font-size: 20px;
}
header >:first-child{
  letter-spacing: 6px;
  font-weight: 700px;
  font-size: 2.2em;
}
header span{
  color: lime;
}
header h3{
  font-size: 1.5em;
}